*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: #181818;
    font-family: Arial, Helvetica, sans-serif;
    color: #dfdfdf;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

section{
    margin: 50px 0;
}

h1{font-size: 48px}
h2{font-size: 36px}
h3{font-size: 24px}

/* Hero */
.hero-inner{
    margin-top: 50px;
    display: flex;
    align-items: center;
    background-color: #dfdfdf;
    color: #181818;
}
.hero-inner img{width: 50%}
.hero-inner p{
    padding: 15px;
    margin-top: 5px;
    line-height: 29px;
    font-size: 24px;
    max-width: 90%;
}

/* Projects */
.projects-inner{
    padding: 25px 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #dfdfdf;
    flex-wrap: wrap;
}
.project{
    border: 1px solid #2e2e2e;
    width: 30%;
    padding: 15px;
    margin: 25px 0;
}

/* Skills */
.skills-inner{
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #dfdfdf;
}
.skill-block{
    width: 30%;
}
.skill-block h3{
    margin-bottom: 5px;
}
.skill-block li{
    font-weight: bold;
}

/* WORK-SPACE */

.ws-title{
    margin: 20px;
    background-color: #a6e200;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: #181818;
}
.work-space{
    margin-top: 50px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3), 1px 1px 5px rgb(34, 34, 34);
    padding: 15px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto auto;
}
.example{
    padding: 30px;
    border: 1px solid #2e2e2e;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    background-color: transparent;
    color: #dfdfdf;
    cursor: pointer;
    transition: 0.3s;
    display: block;
}.example:hover{
    background-color: #dfdfdf;
    color: #181818;
}
.stealth{
    display: none;
}
.beauty{
    display: block;
}

/* About */
.about-inner{
    margin-top: 25px;
    display: flex;
    align-items: center;
    color: #181818;
    background-color: #dfdfdf;
    padding: 25px;
}
.about-inner img{
    width: 50%;
}
.about-inner p{
    padding: 15px;
    font-size: 24px;
    max-width: 90%;
}



@media (max-width: 1250px) {
    h1, h2{
        text-align: center;
    }

    .hero-inner{
        background-color: #181818;
        color: #dfdfdf;
        text-align: center;
        border-bottom: 1px solid #dfdfdf;
        padding: 25px 0;
        margin-top: 0;
    }
    .hero-inner img{
        display: none;
    }
    .hero-inner p{
        font-size: 19px;
    }

    .skills-inner{
        justify-content: center;
    }
    .skill-block{
        margin: 0 30px;
    }

    .about-inner img{
        display: none;
    }
}

@media (max-width: 850px){
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 20px;
    }

    .about-inner p{
        font-size: 20px;
    }
    .hero-inner{
        padding: 0;
    }
}

@media (max-width: 605px){
    .skills-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skill-block{
        margin: 30px 0;
        width: 50%;
    }
}
@media (max-width: 544px) {
    .example:nth-child(5){
        content: "+";
    }
}
@media (max-width: 435px){
    .project{
        width: 90%;
    }
}